.input-container--invalid{
    margin-bottom: 0.5rem;
}
.input-container--invalid .contact__form-input{
    border: 1px solid #df2525;
}
.input-message-error {
    display: none;
  }
.input-container--invalid .input-label{
    color: #df2525;
    
}
.input-container--invalid .input-message-error{
    color: #df2525;
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    
}